In [2]:
import os
import pandas as pd

In [3]:
cwd = os.getcwd() # dirname(abspath(__file__))
BASE_DIR = os.path.dirname(cwd)
DATA_DIR = os.path.join(BASE_DIR, 'data')
CACHE_DIR = os.path.join(BASE_DIR, 'cache')
os.makedirs(CACHE_DIR, exist_ok=True)

In [4]:
for fname in os.listdir(DATA_DIR):
    print(fname)

2020.csv
2019.csv
2018.csv
2001.csv
2015.csv
2014.csv
2000.csv
2016.csv
2002.csv
2003.csv
2017.csv
2013.csv
2012.csv
2004.csv
2010.csv
2011.csv
2005.csv

In [5]:
df = pd.read_csv(os.path.join(DATA_DIR, "2019.csv"))

In [6]:
df.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
0,1,Avengers: Endgame,"$2,797,800,564","$858,373,000",30.7%,"$1,939,427,564",69.3%
1,2,The Lion King,"$1,656,943,394","$543,638,043",32.8%,"$1,113,305,351",67.2%
2,3,Frozen II,"$1,450,026,933","$477,373,578",32.9%,"$972,653,355",67.1%
3,4,Spider-Man: Far from Home,"$1,131,927,996","$390,532,085",34.5%,"$741,395,911",65.5%
4,5,Captain Marvel,"$1,128,274,794","$426,829,839",37.8%,"$701,444,955",62.2%

In [7]:
df["Rank"]

0        1
1        2
2        3
3        4
4        5
      ...
680    681
681    682
682    683
683    684
684    685
Name: Rank, Length: 685, dtype: int64

In [8]:
df["Year"] = 2010 #create a new colmn

In [9]:
df.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,Year
0,1,Avengers: Endgame,"$2,797,800,564","$858,373,000",30.7%,"$1,939,427,564",69.3%,2010
1,2,The Lion King,"$1,656,943,394","$543,638,043",32.8%,"$1,113,305,351",67.2%,2010
2,3,Frozen II,"$1,450,026,933","$477,373,578",32.9%,"$972,653,355",67.1%,2010
3,4,Spider-Man: Far from Home,"$1,131,927,996","$390,532,085",34.5%,"$741,395,911",65.5%,2010
4,5,Captain Marvel,"$1,128,274,794","$426,829,839",37.8%,"$701,444,955",62.2%,2010

In [14]:
df["Start Year"] = df["Year"]+5 #copy a column and operate + 5

In [15]:
df.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,Year,Start Year
0,1,Avengers: Endgame,"$2,797,800,564","$858,373,000",30.7%,"$1,939,427,564",69.3%,2010,2015
1,2,The Lion King,"$1,656,943,394","$543,638,043",32.8%,"$1,113,305,351",67.2%,2010,2015
2,3,Frozen II,"$1,450,026,933","$477,373,578",32.9%,"$972,653,355",67.1%,2010,2015
3,4,Spider-Man: Far from Home,"$1,131,927,996","$390,532,085",34.5%,"$741,395,911",65.5%,2010,2015
4,5,Captain Marvel,"$1,128,274,794","$426,829,839",37.8%,"$701,444,955",62.2%,2010,2015

In [16]:
# create.a big. dataframe
my_entire_dataframe =pd.DataFrame()
my_dataframes =[]

In [25]:
csv_files = [x for x in os.listdir(DATA_DIR) if x.endswith(".csv")]#only take csv files

for fname in os.listdir(DATA_DIR):
    print(fname)
    csv_path = os.path.join(DATA_DIR, fname)
    this_df = pd.read_csv(csv_path)
    this_df['filename'] = fname
    year = fname.replace(".csv","")
    this_df['year'] = year
    print(this_df.head(n=1))
    my_Dataframes.append(this_df)

2020.csv
   Rank      Release Group     Worldwide      Domestic    %       Foreign  \
0     1  Bad Boys for Life  $425,514,702  $204,417,855  48%  $221,096,847

   %.1  filename  year
0  52%  2020.csv  2020
2019.csv
   Rank      Release Group       Worldwide      Domestic      %  \
0     1  Avengers: Endgame  $2,797,800,564  $858,373,000  30.7%

          Foreign    %.1  filename  year
0  $1,939,427,564  69.3%  2019.csv  2019
2018.csv
   Rank           Release Group       Worldwide      Domestic      %  \
0     1  Avengers: Infinity War  $2,048,359,754  $678,815,482  33.1%

          Foreign    %.1  filename  year
0  $1,369,544,272  66.9%  2018.csv  2018
2001.csv
   Rank                          Release Group     Worldwide      Domestic  \
0     1  Harry Potter and the Sorcerer's Stone  $974,755,371  $317,575,550

       %       Foreign    %.1  filename  year
0  32.6%  $657,179,821  67.4%  2001.csv  2001
2015.csv
   Rank                               Release Group       Worldwide  \
0     1  Star Wars: Episode VII - The Force Awakens  $2,068,223,624

       Domestic      %         Foreign    %.1  filename  year
0  $936,662,225  45.3%  $1,131,561,399  54.7%  2015.csv  2015
2014.csv
   Rank                    Release Group       Worldwide      Domestic      %  \
0     1  Transformers: Age of Extinction  $1,104,054,072  $245,439,076  22.2%

        Foreign    %.1  filename  year
0  $858,614,996  77.8%  2014.csv  2014
2000.csv
   Rank           Release Group     Worldwide      Domestic      %  \
0     1  Mission: Impossible II  $546,388,108  $215,409,889  39.4%

        Foreign    %.1  filename  year
0  $330,978,219  60.6%  2000.csv  2000
2016.csv
   Rank               Release Group       Worldwide      Domestic      %  \
0     1  Captain America: Civil War  $1,153,296,293  $408,084,349  35.4%

        Foreign    %.1  filename  year
0  $745,211,944  64.6%  2016.csv  2016
2002.csv
   Rank                          Release Group     Worldwide      Domestic  \
0     1  The Lord of the Rings: The Two Towers  $936,689,735  $339,789,881

       %       Foreign    %.1  filename  year
0  36.3%  $596,899,854  63.7%  2002.csv  2002
2003.csv
   Rank                                  Release Group       Worldwide  \
0     1  The Lord of the Rings: The Return of the King  $1,140,682,011

       Domestic      %       Foreign    %.1  filename  year
0  $377,027,325  33.1%  $763,654,686  66.9%  2003.csv  2003
2017.csv
   Rank                            Release Group       Worldwide  \
0     1  Star Wars: Episode VIII - The Last Jedi  $1,332,539,889

       Domestic      %       Foreign    %.1  filename  year
0  $620,181,382  46.5%  $712,358,507  53.5%  2017.csv  2017
2013.csv
   Rank Release Group       Worldwide      Domestic      %       Foreign  \
0     1        Frozen  $1,280,802,282  $400,738,009  31.3%  $880,064,273

     %.1  filename  year
0  68.7%  2013.csv  2013
2012.csv
   Rank Release Group       Worldwide      Domestic    %       Foreign  %.1  \
0     1  The Avengers  $1,518,812,988  $623,357,910  41%  $895,455,078  59%

   filename  year
0  2012.csv  2012
2004.csv
   Rank Release Group     Worldwide      Domestic      %       Foreign    %.1  \
0     1       Shrek 2  $928,760,770  $441,226,247  47.5%  $487,534,523  52.5%

   filename  year
0  2004.csv  2004
2010.csv
   Rank Release Group       Worldwide      Domestic      %       Foreign  \
0     1   Toy Story 3  $1,066,969,703  $415,004,880  38.9%  $651,964,823

     %.1  filename  year
0  61.1%  2010.csv  2010
2011.csv
   Rank                                 Release Group       Worldwide  \
0     1  Harry Potter and the Deathly Hallows: Part 2  $1,341,511,219

       Domestic      %       Foreign    %.1  filename  year
0  $381,011,219  28.4%  $960,500,000  71.6%  2011.csv  2011
2005.csv
   Rank                        Release Group     Worldwide      Domestic  \
0     1  Harry Potter and the Goblet of Fire  $895,921,036  $290,013,036

       %       Foreign    %.1  filename  year
0  32.4%  $605,908,000  67.6%  2005.csv  2005